

numpy==1.22.3
scipy==1.8.0
jedi==0.17.2
jupyter==1.0.0
jupyterlab==3.0.17
matplotlib==3.5.2
Pillow==9.1.0
scikit-learn==1.1.0
tensorflow==2.8.0
pandas==1.4.2
opencv-python==4.5.5.64
notebook==6.4.11
jupyter_contrib_nbextensions==0.5.1
pydot==1.4.2
graphviz==0.20
pydotplus==2.0.2
nbconvert==5.6.1 # warnings on Jupyter UI
