matplotlib==3.6.2
numpy==1.23.5
opencv_python==4.7.0.68
pandas==1.5.2
Pillow==9.5.0
scikit_learn==1.2.2
sentence_transformers==2.2.2
tensorflow==2.11.0
tensorflow_hub==0.13.0
torch==2.0.0
tqdm==4.64.1
